<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MessageAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NSLUser_Binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://del-int-sql04.delta.kaplaninc.com:17001/DynamicsNAV/WS/The%20Financial%20Training%20Company/Codeunit/NSLUser"
          binding="basicHttpBinding" bindingConfiguration="NSLUser_Binding"
          contract="ServiceReference1.NSLUser_Port" name="NSLUser_Port" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="TracFileLocation" value="C:\tracing\traceMessageAdapterPerson.txt"/>
    <add key="IsTracingEnabled" value="true"/>
    <add key="NavNSLUserServiceUserName" value="NAV_WS_NQLAccess_I"/>
    <add key="NavNSLUserServicePassword" value="BimBA!o+"/>
    <add key="NavNSLUserServiceDomain" value="delta"/>
    <add key="NavNSLUserServiceURL" value="http://del-int-sql04.delta.kaplaninc.com:17001/DynamicsNAV/WS/The%20Financial%20Training%20Company/Codeunit/NSLUser"/>
    <add key ="ProfileServiceURI" value="http://int.api.kaplan.co.uk/"/>
    <add key="ProfileURI" value="Profiles/"/>
    <add key="ApiGatewayURL"  value="http://int.api.kaplan.co.uk/"/>
    <add key="CreatePersonURI" value="Persons"/>
    <add key="UpdatePersonURI" value="Persons/"/>
    <add key="UpdatedByQueryString" value="?updatedBy="/>
    <add key="CreatedByQueryString" value="?createdBy="/>
    <add key="RePublish" value="False"/>
    <add key="DefaultOriginator" value="web"/>
    <add key="GetPersonURI" value="Persons/"/>
    <add key="AddressServicePostUri" value="Addresses"/>
    <add key="AuthorizationScheme" value="Basic"/>
    <add key="AuthorizationParameter" value="UGVyc29uc0FjY2Vzc0tleTpNb3JuaW5ncyBhcmUgZm9yIGNvZmZlZSBhbmQgY29udGVtcGxhdGlvbi4gXiUkMzQ1"/>
  </appSettings>
  <applicationSettings>
    <MessageAdapter.Properties.Settings>
      <setting name="MessageAdapter_NAVNSLUser_NSLUser" serializeAs="String">
        <value>http://del-int-sql04.delta.kaplaninc.com:17001/DynamicsNAV/WS/The%20Financial%20Training%20Company/Codeunit/NSLUser</value>
      </setting>
    </MessageAdapter.Properties.Settings>
  </applicationSettings>
</configuration>